<?xml version="1.0"?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <postdirekt>
            <addressfactory>
                <version>1.4.0</version>
                <log_level>400</log_level>
                <automatic_address_analysis>1</automatic_address_analysis>
            </addressfactory>
        </postdirekt>
    </default>
</config>
