<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="PostDirekt\Sdk\AddressfactoryDirect\Api\ServiceFactoryInterface" type="PostDirekt\Sdk\AddressfactoryDirect\Service\ServiceFactory\Virtual"/>
    <virtualType name="PostDirekt\Sdk\AddressfactoryDirect\Service\ServiceFactory\Virtual" type="PostDirekt\Sdk\AddressfactoryDirect\Service\ServiceFactory" />
    <preference for="PostDirekt\Addressfactory\Api\Data\AnalysisResult\SearchResultInterface" type="PostDirekt\Addressfactory\Model\ResourceModel\AnalysisResult\SearchResult"/>
    <preference for="PostDirekt\Addressfactory\Api\Data\AnalysisResultInterface" type="PostDirekt\Addressfactory\Model\AnalysisResult"/>

    <!-- # virtual types -->
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="joins" xsi:type="array">
                <item name="postdirekt_addressfactory_analysis_status" xsi:type="array">
                    <item name="table" xsi:type="string">postdirekt_addressfactory_analysis_status</item>
                    <item name="origin_column" xsi:type="string">entity_id</item>
                    <item name="target_column" xsi:type="string">order_id</item>
                </item>
            </argument>
            <argument name="columns" xsi:type="array">
                <item name="postdirekt_addressfactory_analysis_status" xsi:type="string">postdirekt_addressfactory_analysis_status.status</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Sales\Model\ResourceModel\Provider\NotSyncedOrderDataProvider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="postdirekt_addressfactory_analysis_status_provider" xsi:type="string">PostDirekt\Addressfactory\Model\ResourceModel\Provider\UpdatedStatusIdListProvider</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PostDirekt\Addressfactory\Cron\CollectionProcessor\Virtual" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="postdirekt_joins" xsi:type="object">PostDirekt\Addressfactory\Model\AnalysisStatusJoinProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PostDirekt\Addressfactory\Cron\OrderRepository\Virtual" type="Magento\Sales\Model\OrderRepository">
       <arguments>
           <argument name="collectionProcessor" xsi:type="object">PostDirekt\Addressfactory\Cron\CollectionProcessor\Virtual</argument>
       </arguments>
    </virtualType>

    <!-- # logging setup -->
    <virtualType name="PostDirekt\Addressfactory\Logger\Handler\Virtual" type="PostDirekt\Addressfactory\Model\Util\ApiLogHandler">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/postdirekt_addressfactory.log</argument>
            <argument name="logEnabledConfigPath" xsi:type="const">PostDirekt\Addressfactory\Model\Config::CONFIG_PATH_LOGGING</argument>
            <argument name="logLevelConfigPath" xsi:type="const">PostDirekt\Addressfactory\Model\Config::CONFIG_PATH_LOGLEVEL</argument>
        </arguments>
    </virtualType>
    <virtualType name="PostDirekt\Addressfactory\Model\Logger\Virtual" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">addressfactory_direct</argument>
            <argument name="handlers" xsi:type="array">
                <item name="apilog" xsi:type="object">PostDirekt\Addressfactory\Logger\Handler\Virtual</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- # argument di overrides -->
    <type name="PostDirekt\Addressfactory\Cron\AutoProcess">
        <arguments>
            <argument name="orderRepository" xsi:type="object">PostDirekt\Addressfactory\Cron\OrderRepository\Virtual</argument>
            <argument name="logger" xsi:type="object">PostDirekt\Addressfactory\Model\Logger\Virtual</argument>
        </arguments>
    </type>
    <type name="PostDirekt\Addressfactory\Model\AddressAnalysis">
        <arguments>
            <argument name="logger" xsi:type="object">PostDirekt\Addressfactory\Model\Logger\Virtual</argument>
        </arguments>
    </type>
    <type name="PostDirekt\Addressfactory\Model\AnalysisStatusUpdater">
        <arguments>
            <argument name="orderGrid" xsi:type="object">Magento\Sales\Model\ResourceModel\Order\Grid</argument>
            <argument name="logger" xsi:type="object">PostDirekt\Addressfactory\Model\Logger\Virtual</argument>
        </arguments>
    </type>
    <type name="PostDirekt\Addressfactory\Model\ResourceModel\AnalysisResult">
        <arguments>
            <argument name="connectionName" xsi:type="string">sales</argument>
        </arguments>
    </type>
    <type name="PostDirekt\Addressfactory\Model\ResourceModel\AnalysisStatus">
        <arguments>
            <argument name="connectionName" xsi:type="string">sales</argument>
        </arguments>
    </type>
    <type name="PostDirekt\Addressfactory\Model\ResourceModel\Provider\UpdatedStatusIdListProvider">
        <arguments>
            <argument name="logger" xsi:type="object">PostDirekt\Addressfactory\Model\Logger\Virtual</argument>
        </arguments>
    </type>
    <type name="PostDirekt\Addressfactory\Observer\SetNewOrderDeliverabilityStatus">
        <arguments>
            <argument name="logger" xsi:type="object">PostDirekt\Addressfactory\Model\Logger\Virtual</argument>
        </arguments>
    </type>
    <type name="PostDirekt\Addressfactory\Observer\UpdateOrderDeliverabilityStatus">
        <arguments>
            <argument name="logger" xsi:type="object">PostDirekt\Addressfactory\Model\Logger\Virtual</argument>
        </arguments>
    </type>

    <!-- # interceptor plugins -->
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="postdirekt_addressfactory_manifest_order_address" type="PostDirekt\Addressfactory\Plugin\AddAnalysisToAddress"/>
        <plugin name="postdirekt_addressfactory_manifest_order_deliverability_status" type="PostDirekt\Addressfactory\Plugin\Sales\OrderRepositoryPlugin" sortOrder="100"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Address\Collection">
        <plugin name="postdirekt_addressfactory_add_analysis_to_order_address" type="PostDirekt\Addressfactory\Plugin\AddAnalysisToAddressCollection"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Collection">
        <plugin name="postdirekt_addressfactory_add_filter_mapping_to_order_collection" type="PostDirekt\Addressfactory\Plugin\Sales\OrderCollectionPlugin"/>
    </type>
</config>
