<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="PostDirekt\Sdk\AddressfactoryDirect\Api\ServiceFactoryInterface" type="PostDirekt\Sdk\AddressfactoryDirect\Service\ServiceFactory"/>
    <preference for="PostDirekt\Addressfactory\Api\Data\AnalysisResult\SearchResultInterface" type="PostDirekt\Addressfactory\Model\ResourceModel\AnalysisResult\SearchResult"/>
</config>
