<?xml version="1.0"?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="view_block_abstract_to_html_after">
        <observer name="move_analysis_box" instance="PostDirekt\Addressfactory\Observer\MoveAnalysisBox"/>
    </event>
    <event name="admin_sales_order_address_update">
        <observer name="addressfactory_update_order_deliverability_status" instance="PostDirekt\Addressfactory\Observer\UpdateOrderDeliverabilityStatus"/>
    </event>
</config>
