<?xml version="1.0" ?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="postdirekt">
            <group id="addressfactory" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Addressfactory Direct Settings</label>
                <field id="addressfactory_info_box" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Netresearch\ConfigFields\Block\InfoBox</frontend_model>
                    <attribute type="body_template">PostDirekt_Addressfactory::system/config/infoBoxBody.phtml</attribute>
                    <attribute type="header_template">PostDirekt_Addressfactory::system/config/infoBoxHeader.phtml</attribute>
                    <attribute type="view_model">PostDirekt\Addressfactory\ViewModel\Adminhtml\System\InfoBox</attribute>
                    <attribute type="logo">PostDirekt_Addressfactory::images/logo_addressfactory.png</attribute>
                    <attribute type="css_class">addressfactory</attribute>
                </field>
                <field id="logging" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0"
                       translate="label comment button_label" type="Netresearch\ConfigFields\Model\Type\Checkbox">
                    <label>Logging</label>
                    <button_label>Enabled</button_label>
                    <comment>You must also have Magento general logging enabled. Attention: Logs can contain sensitive customer data! Logging should only be activated for troubleshooting purposes. The logs should be deleted regularly.</comment>
                </field>
                <field id="log_level" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="20"
                       translate="label" type="Netresearch\ConfigFields\Model\Type\Radioset">
                    <label>Log Level</label>
                    <depends>
                        <field id="logging">1</field>
                    </depends>
                    <source_model>PostDirekt\Addressfactory\Model\Config\Source\LogLevel</source_model>
                 </field>
                <field id="configuration_name" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Configuration Name</label>
                    <comment>Enter the name of the desired synchronization configuration that you have received from Deutsche Post Direkt.</comment>
                </field>
                <field id="mandate_name" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0" translate="label comment" type="text">
                    <label>Mandate Name</label>
                    <comment>If you want to assign the API requests of this module to a specific client, enter the username of the client here.</comment>
                </field>
                <field id="hold_non_deliverable_orders" translate="label button_label" type="Netresearch\ConfigFields\Model\Type\Checkbox" sortOrder="70" showInDefault="1" showInWebsite="1"   showInStore="0">
                    <label>Automatically Put on Hold</label>
                    <button_label>Automatically put on hold orders that are undeliverable, possibly deliverable, or that failed analysis.</button_label>
                </field>
                <field id="auto_cancel_orders" translate="label button_label" type="Netresearch\ConfigFields\Model\Type\Checkbox" sortOrder="70" showInDefault="1" showInWebsite="1"   showInStore="0">
                    <label>Automatically Cancel</label>
                    <button_label>Automatically cancel undeliverable orders.</button_label>
                </field>
                <field id="auto_update_shipping_address" translate="label button_label" type="Netresearch\ConfigFields\Model\Type\Checkbox" sortOrder="80" showInDefault="1" showInWebsite="1"   showInStore="0">
                    <label>Automatically Update Shipping Address</label>
                    <button_label>Automatically update order shipping addresses with ADDRESSFACTORY suggestions.</button_label>
                </field>
                <field id="automatic_address_analysis" translate="label comment" type="Netresearch\ConfigFields\Model\Type\Radioset" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="90">
                    <label>Automatic Address Analysis</label>
                    <source_model>PostDirekt\Addressfactory\Model\Config\Source\AutomaticOptions</source_model>
                    <comment>Only use the option "Analysis on order placement" if problems occur in connection with "Analysis via Cron".</comment>
                </field>
                <field id="auto_validate_manual_edited" translate="label button_label" type="Netresearch\ConfigFields\Model\Type\Checkbox" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Automatic validation</label>
                    <button_label>Automatically validate manually edited addresses</button_label>
                </field>
            </group>
        </section>
    </system>
</config>
